@import url('https://fonts.googleapis.com/css?family=Muli');
html, body {
    margin: 0;
    padding: 0;
    font-family: 'Muli', sans-serif;
    font-size: 15px;
    background-color: #f1f4f9;
}
div {
    margin: 0;
    padding: 0;
}
table {
    border-collapse: collapse;
    text-align: center;
}
table, th, td {
    border: 1px solid #546E7A;
}

.grid {
    font-weight: bold;
    margin: 20px;
}
.grid-tile {
    background-color: none;
    height: 20px;
    width: 20px;
    min-height: 20px;
    min-width: 20px;
    -webkit-transition: background-color .2s;
    transition: background-color .2s;
}
.grid-tile-visible {
    background-color: #f1f4f9;
}
.grid-tile-hidden, .grid-tile-flagged {
    background-color: #c1c4c9;
}
.grid-tile-hidden:hover, .grid-tile-flagged:hover {
    cursor: pointer;
    background-color: #d1d4d9;
}
.grid-tile-ied {
    background-color: #ef5350;
}
.grid-tile-defused {
    background-color: #9CCC65;
}

.grid-tile-flagged::before {
    content: '!';
    color: #cc5500;
}
.grid-tile-danger1::before {
    content: '1';
    color: #1565C0;
}
.grid-tile-danger2::before {
    content: '2';
    color: #558B2F;
}
.grid-tile-danger3::before {
    content: '3';
    color: #E64A19;
}
.grid-tile-danger4::before {
    content: '4';
    color: #7B1FA2;
}
.grid-tile-danger5::before {
    content: '5';
    color: #795548;
}
.grid-tile-danger6::before {
    content: '6';
    color: #009688;
}
.grid-tile-danger7::before {
    content: '7';
    color: #424242;
}
.grid-tile-danger8::before {
    content: '8';
    color: #546E7A;
}
