@import url('https://fonts.googleapis.com/css?family=Muli');
html, body {
    margin: 0;
    padding: 0;
    font-family: 'Muli', sans-serif;
    font-size: 15px;
    color: #546E7A;
    background-color: #f1f4f9;
}
div {
    margin: 0;
    padding: 0;
}
table {
    border: none;
    border-collapse: collapse;
    text-align: center;
}
::selection {
    background-color: #81D4FA;
}
::-moz-selection {
    background-color: #81D4FA;
}
.button {
    font-size: 12px;
    color: #f1f4f9;
    background-color: #919499;
    text-decoration: none;
    text-transform: uppercase;
    display: inline-block;
    border-radius: 2px;
    padding: 3px 6px;
    min-width: 40px;
    -webkit-transition: background-color .2s, color .2s;
    transition: background-color .2s, color .2s;
}
.button:hover, .button:focus {
    color: #fafcff;
    background-color: #a1a4a9;
}
.no-overflow {
    overflow: hidden;
}
.alert-box {
    position: fixed;
    top: 15%;
    left: 0;
    width: 100%;
    font-size: 16px;
    text-align: center;
    z-index: 10;
}
.alert-message {
    display: inline-block;
    max-width: 85%;
    padding: 7px 18px;
    background-color: rgb(230, 232, 232);
    background-color: rgba(230, 232, 232, 0.75);
}
@-webkit-keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}
@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}
@-webkit-keyframes bgFlash {
    0% { background-color: #dadcdf; }
    40% { background-color: #7a7c7f; }
    100% { background-color: #dadcdf; }
}
@keyframes bgFlash {
    0% { background-color: #dadcdf; }
    40% { background-color: #7a7c7f; }
    100% { background-color: #dadcdf; }
}
@-webkit-keyframes blink {
    0% { opacity: 0; }
    25% { opacity: 1; }
    75% { opacity: 1; }
    100% { opacity: 0; }
}
@keyframes blink {
    0% { opacity: 0; }
    25% { opacity: 1; }
    75% { opacity: 1; }
    100% { opacity: 0; }
}
.fade-in {
    -webkit-animation: fadeIn 0.4s ease-in;
    animation: fadeIn 0.4s ease-in;
}
.blink-once {
    -webkit-animation: blink 2s;
    animation: blink 2s;
}

#game-container {
    padding-top: 70px;
}
#header-container {
    display: flex;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 0;
}
#game-header {
    position: relative;
    max-width: 710px;
    padding-top: 11px;
    flex: 1 0;
}
.game-title {
    display: inline-block;
    font-size: 1.5em;
    padding: 17px 20px 13px 12px;
}
.game-title span {
    -webkit-transition: color 0.25s;
    transition: color 0.25s;
}
.game-title:hover #game-title-1, .game-title:focus #game-title-1 {
    color: #1565C0;
}
.game-title:hover #game-title-2, .game-title:focus #game-title-2 {
    color: #558B2F;
}
.game-title:hover #game-title-3, .game-title:focus #game-title-3 {
    color: #E64A19;
}
.game-title:hover #game-title-4, .game-title:focus #game-title-4 {
    color: #7B1FA2;
}
#scoreboard-container {
    float: right;
    margin: 4px 10px 0 0;
    padding: 5px;
    border-radius: 5px;
    background-color: #e1e4e9;
}

#intro-overlay {
    position: fixed;
    left: 0;
    right: 0;
    height: 100%;
    padding: 8vh 10px 10px;
    background-color: rgba(241, 244, 249, 0.66);
    z-index: 11;
}
#intro-container {
    display: flex;
    justify-content: center;
}
#intro-message {
    padding: 0 10px;
    max-width: 450px;
    max-height: 60vh;
    overflow-y: auto;
    border: 1px solid #546E7A;
    border-radius: 5px;
    background-color: rgba(241, 244, 249, 0.80);
}
.intro-emphasis {
    font-weight: bold;
}
#intro-continue {
    float: right;
    margin-right: 6px;
    margin-bottom: 15px;
}

#grid-container {
    display: inline-block;
    margin-bottom: 88px;
    position: relative;
    z-index: 5;
}
.grid {
    margin: 10px;
}
.grid table, .grid th, .grid td {
    border: 1px solid #546E7A;
}
.grid-tile {
    background-color: none;
    height: 20px;
    width: 20px;
    min-height: 20px;
    min-width: 20px;
    -webkit-transition: background-color .2s;
    transition: background-color .2s;
}
.grid-tile-visible {
    background-color: #f1f4f9;
}
.grid-tile-hidden {
    background-color: #c1c4c9;
}
.grid-tile-hidden:hover, .grid-tile-hidden:focus {
    cursor: pointer;
    background-color: #d1d4d9;
}
.grid-tile-flag1, .grid-tile-flag2 {
    background-color: #dadcdf;
}
.grid-tile-flag1:hover, .grid-tile-flag1:focus,
.grid-tile-flag2:hover, .grid-tile-flag2:focus {
    cursor: pointer;
    background-color: #e1e4e9;
}
.grid-tile-ied {
    background-color: #ef5350;
}
.grid-tile-disarmed {
    background-color: #9CCC65;
}
.grid-tile-blocked {
    background-color: #FFCA28;
}
.grid-tile-flash {
    -webkit-animation: bgFlash 0.5s;
    animation: bgFlash 0.5s;
}

.grid-tile-flag1::before {
    content: '!';
    font-weight: bold;
    color: #D84315;
}
.grid-tile-flag2::before {
    content: '0';
    font-weight: bold;
    color: #558B2F;
}
.grid-tile-danger1::before {
    content: '1';
    color: #1565C0;
}
.grid-tile-danger2::before {
    content: '2';
    color: #558B2F;
}
.grid-tile-danger3::before {
    content: '3';
    color: #E64A19;
}
.grid-tile-danger4::before {
    content: '4';
    color: #7B1FA2;
}
.grid-tile-danger5::before {
    content: '5';
    color: #795548;
}
.grid-tile-danger6::before {
    content: '6';
    color: #009688;
}
.grid-tile-danger7::before {
    content: '7';
    color: #424242;
}
.grid-tile-danger8::before {
    content: '8';
    color: #546E7A;
}

#info-bar-container {
    display: flex;
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 9;
    justify-content: center;
    background-color: rgba(241, 244, 249, 0.60);
    padding: 7px 10px;
}
.info-bar {
    border: 1px solid #546E7A;
    padding: 5px;
    border-radius: 5px;
    background-color: #f1f4f9;
}
.info-bar-byline td {
    padding: 3px;
}
.info-bar-header {
    font-size: 0.95em;
    font-variant: small-caps;
    color: #546E7A;
}
.info-bar-header td {
    white-space: nowrap;
}
.info-bar-data {
    font-size: 1.1em;
}
.confirm-qns {
    padding: 0 12px 0 6px;
    white-space: nowrap;
}
#result-text {
    color: #2E7D32;
}
#lost-text {
    color: #c62828;
}

.hidden {
    display: none;
}

@media (min-width: 720px) {
    #grid-container {
        display: flex;
        justify-content: center;
    }
    .grid {
        flex: 0 0;
    }
}

@media (min-width: 720px) and (min-height: 855px) {
    #grid-container {
        margin-bottom: 0;
    }
    #info-bar-container {
        position: relative;
        padding: 5px 15px 15px;
    }
}

@media (max-width: 410px) {
    .game-title {
        padding-left: 8px;
    }
    #scoreboard-container {
        margin-right: 6px;
    }
    .grid {
        margin: 10px 6px;
    }
    #info-bar-container {
        padding: 7px 6px;
    }
    .info-bar {
        padding: 5px 2px;
    }
}

@media (max-width: 380px) {
    .game-title {
        padding-right: 10px;
    }
    #scoreboard-container {
        padding: 5px 0;
    }
    .scoreboard {
        max-width: 170px;
    }
}

@media (max-width: 350px) {
    .game-title {
        font-size: 1.3em;
        padding-top: 19px;
        padding-bottom: 15px;
    }
}