@import url('https://fonts.googleapis.com/css?family=Muli');
html, body {
    margin: 0;
    padding: 0;
    font-family: 'Muli', sans-serif;
    font-size: 15px;
    color: #546E7A;
    background-color: #f1f4f9;
}
div {
    margin: 0;
    padding: 0;
}
table {
    border: none;
    border-collapse: collapse;
    text-align: center;
}
.button {
    font-size: 12px;
    color: #f1f4f9;
    background-color: #919499;
    text-decoration: none;
    text-transform: uppercase;
    display: inline-block;
    border-radius: 2px;
    padding: 3px 6px;
    -webkit-transition: background-color .2s, color .2s;
    transition: background-color .2s, color .2s;
}
.button:hover, .button:focus {
    color: #fafcff;
    background-color: #a1a4a9;
}
.hidden {
    display: none;
}
.alert-box {
    top: 15%;
    left: 0;
    width: 100%;
    z-index: 10;
    position: fixed;
    font-size: 16px;
    text-align: center;
}
.alert-message {
    padding: 7px 18px;
    display: inline;
    background-color: rgb(230, 232, 232);
    background-color: rgba(230, 232, 232, 0.7);
}
@-webkit-keyframes blink {
    0% { opacity: 0; }
    25% { opacity: 1; }
    75% { opacity: 1; }
    100% { opacity: 0; }
}
@keyframes blink {
    0% { opacity: 0; }
    25% { opacity: 1; }
    75% { opacity: 1; }
    100% { opacity: 0; }
}
.blink-once {
    -webkit-animation-duration: 0.4s;
    animation-duration: 0.4s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}
.blink-once {
    -webkit-animation-duration: 2s;
    animation-duration: 2s;
    -webkit-animation-name: blink;
    animation-name: blink;
}


#grid-container {
    display: flex;
    justify-content: center;
}
.grid {
    flex: 0 0;
    margin: 15px;
}
.grid table, .grid th, .grid td {
    border: 1px solid #546E7A;
}
.grid-tile {
    background-color: none;
    height: 20px;
    width: 20px;
    min-height: 20px;
    min-width: 20px;
    -webkit-transition: background-color .2s;
    transition: background-color .2s;
}
.grid-tile-visible {
    background-color: #f1f4f9;
}
.grid-tile-hidden, .grid-tile-flagged {
    background-color: #c1c4c9;
}
.grid-tile-hidden:hover, .grid-tile-hidden:focus, 
.grid-tile-flagged:hover, .grid-tile-flagged:focus {
    cursor: pointer;
    background-color: #d1d4d9;
}
.grid-tile-ied {
    background-color: #ef5350;
}
.grid-tile-defused {
    background-color: #9CCC65;
}
.grid-tile-blocked {
    background-color: #FFCA28;
}

.grid-tile-flagged::before {
    content: '!';
    font-weight: bold;
    color: #cc5500;
}
.grid-tile-danger1::before {
    content: '1';
    color: #1565C0;
}
.grid-tile-danger2::before {
    content: '2';
    color: #558B2F;
}
.grid-tile-danger3::before {
    content: '3';
    color: #E64A19;
}
.grid-tile-danger4::before {
    content: '4';
    color: #7B1FA2;
}
.grid-tile-danger5::before {
    content: '5';
    color: #795548;
}
.grid-tile-danger6::before {
    content: '6';
    color: #009688;
}
.grid-tile-danger7::before {
    content: '7';
    color: #424242;
}
.grid-tile-danger8::before {
    content: '8';
    color: #546E7A;
}

#info-bar {
    display: flex;
    justify-content: center;
    margin: 5px 15px 15px;
}
#game-stats {
    display: inline-block;
    border: 1px solid #546E7A;
    padding: 5px;
    border-radius: 5px;
}
.stats-header {
    font-size: 0.9em;
    font-variant: small-caps;
    color: #546E7A;
}
.stats-data {
    font-size: 1.1em;
}